<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat FastAPI WebSocket</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <h2>Chat WebSocket</h2>
        <div>
            <button id="create_room"> Criar sala </button>
        </div>
        <div>
            <ul id="rooms"> Salas de bate papo </ul>
        </div>
    </div>
    <!-- <input id="messageInput" type="text" placeholder="Digite uma mensagem"> -->
    <!-- <button id="enviarMensagem">Enviar</button> -->
    <!-- <ul id="messages"></ul> -->
</body>
<script src="../js/index.js"></script>
</html>
